@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('static/SEGA.woff') format('woff');
  }

h1 {
  font-family: 'Roboto Mono', monospace;
  user-select: none;
}

h2, h3, h4, h5 {
  font-family: 'Roboto Mono', monospace;
}

a {
  color: black;
}

a:hover {
  color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mn-hdng {
  font-size: 70px;
  font-family: "SEGA LOGO FONT";
  color:#333;
}

@media screen and (max-width: 800px) {
  .mn-hdng {
    font-size: 10vw;
    font-family: "SEGA LOGO FONT";
    color:#333;
  }
}

.auth-img {
  width: 240px;
  height: 240px;
  border-radius:50%;
  user-select: none;
}

.center {
  display: flex;
  justify-content: center;
}

.cntr-mdl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stdrd-margin {
  margin-top: 50px;
  margin-bottom:50px;
}

.load-button {
  width: 50px;
  height:50px;
  cursor: pointer;
}

.drctn-col {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.mgn-crct {
  margin-left: 0px;
  margin-right: 0px;
}

.fll-pg-ld {
  height: 80vh;
  width: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 60px;
  font-family: 'Roboto Mono', monospace;
}

.thmb {
  width:25px;
  height:25px;
  cursor: pointer;
}

.commt-inpt {
  width:100%;
  margin-top:3px;
  margin-bottom:2px;
  padding-left: 10px;
  border: 1px solid black;
}

.cmt-btn {
  background-color: black;
  border:1px solid black;
  padding: 10px;
  border-radius: 50%;
}

.bubble {
  width: 40px;
  height: 40px;
  cursor: pointer;
}